h1 {
    font-size: 2em;
    padding-top: 40px;
}

body {
    position: absolute;
    margin: auto;
    padding: auto;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: grid;
    background: linear-gradient(to right, #6481de, #b8b8c4, #6481de);
    overflow: auto;
}

#homeButtonDiv {
    margin-bottom: 30px;
}

#listContainer {
    border: 4px solid black;
    margin-bottom: 100px;
    /*padding: 20px;*/
}

button {
    font-weight: bold;
    font-size: 1.25em; /* 16px */
}
