html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: grid;
}

#insideBody{
    padding-top: 33.3vh;
}

.loginLabel {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.inputBox {
    margin-bottom: 20px;
}

.button { 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#registerButton {
    justify-content: left;
}