<body>
<div id="insideBody">
    <button id="backButton" class="button" (click)="goToHome()">Back</button><br>

    <h1 id="headerLabel">Fill in the new note:</h1>

    <form #addForm="ngForm" (ngSubmit)="addToNotes(addForm)">
        <div id="titleDiv">
            <label class="mainLabel">Title: </label>
            <input id="titleInput" ngModel name="title" #title="ngModel" required>
            <div id="titleSpan">
                <span style="color:red" *ngIf="title.touched && title.invalid">*Please provide a title for the note.</span>
            </div>
        </div>
        <br>

        <div id="bodyDiv">
            <div id="bodyLabel">
                <label class="mainLabel">Body: </label>
            </div>
            <textarea id="bodyInput" ngModel name="body" #body="ngModel" required></textarea>
            <div id="bodySpan">
                <span style="color:red" *ngIf="body.touched && body.invalid">*Please fill in the note.</span>
            </div>    
        </div>
        <br>

        <div id="favoriteDiv">
            <label id="favLabel" class="mainLabel">Favorite?: </label><br>
            <div id="ynDiv">
                <div id="yesDiv">
                    <label>Yes</label>
                    <input ngModel type="radio" name="favorite" #favorite="ngModel" [value]="true" required>
                </div>
                <div id="noDiv">
                    <label>No</label>
                    <input ngModel type="radio" name="favorite" #favorite="ngModel" [value]="false" required>
                </div>
            </div>
        </div>
        <br>
        
        <button id="addButton" class="button" type="submit" [disabled]="addForm.form.invalid">Add to Notes</button>

    </form> 
    </div>
</body>