h1 {
    font-size: 2em;
    margin-bottom: 50px;
}

body {
    position: absolute;
    margin: auto;
    padding: auto;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: grid;
    background: linear-gradient(to right, #6481de, #b8b8c4, #6481de);
    overflow: auto;
} 

#insideBody {
    margin-top: 40px;
    
}

#favSection {
    margin-bottom: 40px;
}

#favoriteNotesList{
    border: 2px solid black;
    padding: 20px;
}

#aFavNote {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

#noteDiv {
    border: 1px solid black;
    background: #E8E8E8;
    padding: 30px;
    margin: auto;
    width: 500px;
    min-height: 55px;
    max-height: 200px;
    overflow-y: auto;
}

.noteTitle {
    font-weight: bold;
    margin-bottom: 25px;
}

#valuesFavDiv {
    display: grid;
    margin-bottom: 20px;
    margin-top: 15px;
}

#innerDateDiv {
    margin-bottom: 10px;
}

#mostRecentList {
    border: 2px solid black;
    padding: 20px;
}

#aRecentNote {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

#recentNote {
    border: 1px solid black;
    background: #E8E8E8;
    padding: 30px;
    margin: auto;
    width: 500px;
    min-height: 55px;
    max-height: 200px;
    overflow-y: auto;
}

#valuesLastDiv {
    display: grid;
    margin-bottom: 20px;
    margin-top: 15px;
}

#innerDateDiv2 {
    margin-bottom: 10px;
}

#viewNoteButton {
    margin-top: 40px;
    margin-bottom: 40px;
}

#dateDiv {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
}

#labelForDate {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.25em;
    margin-bottom: 10px;
}

#dateBox {
    margin-top: 20px;
}

#noteDate {
    width: 135px; /* Adjust as needed */
    height: 25px; /* Changes height */
    font-size: 1.25em;
}

#searchNoteButton {
    margin-left: 20px;
}

#addNewNoteButton {
    margin-bottom: 40%;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}
