<html>
<body>
<div id="insideBody">
<h1>Please fill out the following to register: </h1>
<br>
<form class="registerForm" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <label class="registerLabel">Username:</label><br>
    <input class="inputBox" ngModel name="username" #username="ngModel" required minlength="6">
    <span style="color:red" *ngIf="username.touched && username.invalid"><br>*Username is required of at least 6 characters.</span>
    <br>

    <label class="registerLabel">Password:</label><br>
    <input class="inputBox" ngModel name="password" #password="ngModel" required>
    <span style="color:red" *ngIf="password.touched && password.errors?.['required']"><br>*Password is required, please enter a password.</span>
    <br>

    <label class="registerLabel">Confirm Password:</label><br>
    <input class="inputBox" ngModel name="confirmPassword" #confirmPassword="ngModel" required>
    <span style="color:red" *ngIf="confirmPassword.touched && confirmPassword.invalid"><br>*Confirm Password is required, please enter a username.</span>
    <br>
    
    <button class="button" type="submit" [disabled]="registerForm.form.invalid">Submit</button>
    <br><br>

</form>
<div>
    <button class="button" (click)="goToLogin()">Back to Login</button>
</div>
</div>
</body>
</html>