html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: grid;
    background: linear-gradient(to bottom, #b8b8c4, #6481de, #000079);
}

h1 {
    font-size: 2.30em;
    margin-bottom: 30px;
}

#insideBody{
    padding-top: 33.3vh;
}

#formDiv {
    margin-left: 27%;
}

#registerForm {
    margin-bottom: 20px;
}

.registerLabel {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.50em;
}



#userDiv, #passDiv, #confirmDiv {
    margin-bottom: 20px;
}

#submitDiv {
    margin-top: 30px;
}

.spanDiv {
    margin-top: 10px;
}

span {
    font-weight: bold;
    padding-top: 20px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.inputBox {
    width: 300px;
    height: 25px;
    font-size: 20px;
}

button { 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}